.about-banner{
    align-items: flex-start !important;
}

/* Upper part of about page */
.upper-about-banner{
    height: 50vh;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 3em;
    color: white;
    margin-bottom: 30px;
    text-shadow: 0px 1px 9px #ffda96ce;
}

.lower-about-banner{
    font-size: 1.2em;
}

.lower-about-banner p {
    margin: 30px;
}

/* Vision */
.vision{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0px 300px;
}

.vision .box-vision{
    text-align: center;
    margin: 30px;
}

.vision .thumbnail img{
    width: 200px;
    height: 200px;
}

.vision p{
    font-size: 1.2em;
    text-align: left;
}

.vision .content-vision{
    position: relative;
    display: flex;
    margin-top: 10px;
}

.vision .content-vision img{
    width: 30px;
    height: 30px;
    position: relative;
    right: 30px;
}

/* Approach */
.approach{
    text-align: center;
}

.heading-approach{
    padding: 40px;
    font-size: 1.4em;
}

.approach .box{
    margin-top: 30px;
    padding: 15px;
    text-align: left;
}

.approach .box h3{
    font-size: 1.2em;
    text-transform: uppercase;
}

.approach .box p{
    font-size: 1.1em;
    margin-top: 10px;
    padding-right: 50px;
    line-height: 25px;
}

.credentials{
    text-align: center;
}

.credentials h2{
    padding: 40px;
    font-size: 1.8em;
}

/* Credentials */
.credentials .image{
    height: 320px;
    background: #4c595f;
}

.credentials p{
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bolder;
}

/* map */

.map{
    text-align: center;
}

.map h2{
    margin: 50px auto;
    text-transform: uppercase;
}

.map img{
    width: inherit;
}

.map ul li{
    font-size: 1.1em;
    font-family: font-normal;
    font-weight: bolder;
    color: #527f92;
}