/* Reset Default Browser Properties */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a,
a:visited,
a:active,
a:hover {
  color: black;
  text-decoration: none;
}

/* Gloabl variables */
:root {
  --primary-color: #2a2a2c;
  --secondary-color: #b9001b;
}

/* Fonts */
@font-face {
  font-family: font-head;
  src: url("./../fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: font-normal;
  src: url("./../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf");
}

/* set body defaults */
body {
  background: var(--primary-color);
  color: white;
}

/* Set default fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: font-head;
}
p,
div,
section {
  font-family: font-normal;
}

/* full height properity */
.full-height {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Menu Styling */
nav {
  background: var(--secondary-color);
  width: 175px;
  position: fixed;
  margin: 0px;
  top: 30px;
  z-index: 30;
  left: 0px;
  transition: all 1s ease-in-out;
}

nav ul {
  margin-bottom: 0px;
}

nav ul li img{
  width: 175px;
}

nav ul li:not(:first-child) {
  border-bottom: 1px solid white;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-family: font-normal;
  font-weight: bolder;
}

nav ul li a,
nav ul li a:visited,
nav ul li a:active {
  color: white;
  transition: color 0.5s;
}

nav ul li a:hover,
nav ul li a.active {
  color: #fb7e8d;
  cursor: pointer;
}

nav .close-btn {
  width: 14px;
  position: absolute;
  right: 8px;
  top: 3px;
  cursor: pointer;
}

nav .show-btn {
  width: 30px;
  position: absolute;
  right: 0px;
  top: 100px;
  background-color: var(--secondary-color);
  cursor: pointer;
  opacity: 0;
  text-align: center;
  padding-top: 5px;
  transition: opacity 0.5s;
  padding-top: 0px !important;
}

nav .show-btn img {
  width: 20px;
}

@media (max-width: 1000px) {
  nav {
    left: -175px;
  }
  nav .show-btn {
    opacity: 1;
    right: -30px;
  }
}

