#main-banner-carousel {
  width: 100%;
}

.carousel-inner {
  height: 100vh;
}

.carousel-inner .carousel-item {
  width: 100%;
  height: inherit;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.section {
  width: 100vw;
  height: 100vh;
}

.carousel-item .text-container picture img {
  
  width: 100vw;
  height: auto;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-indicators li.active {
  background: red;
}

.text-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ban-pag-1 img{
  width: 400px;
}

.copyright{
  font-size: 0.8em;
  position: absolute;
  bottom: 0px;
  left: 10px;
  font-weight: bolder;
}

.text-container > img{
  width: 100vw;
}

.ban-pag-1 > img{
  width: 50vw;
}

.ban-pag-2 > img{
  position: relative;
  left: 5%;
}

.find-out-more{
  position: absolute;
}


@media (max-width: 1000px){
  .carousel-inner .carousel-item:nth-child(4){
    background-position: 90% 50% ;
  }

  .find-out-more{
    bottom: 35vh;
    right: 20vw;
  }

}

@media (max-width: 1200px){
  .find-out-more{
    position: absolute;
    bottom: 100vh;
    right: 20vw;
  }
}

@media (max-width: 750px) {
  .banner-1{
    background-size: 380% 120% !important;
  }

  .carousel-control-prev, .carousel-control-next{
    bottom: -125px;    
  }

  .carousel-inner .carousel-item:nth-child(3){
    background-position: 65% 50% ;
  }

  .carousel-inner .carousel-item:nth-child(4){
    background-position: 80% 50% ;
  }
  
  .ban-pag-1 > img{
    width: 75vw;
  }

  .ban-pag-2{
    text-align:center;
  }


  .ban-pag-1{
    position: relative;
  }

  .find-out-more {
    bottom: 38vh;
  }

  
  .ban-pag-4 .highlight{
    width: 100% !important;
    text-align: left;
    padding-left: 5px;
    line-height: 35px;
  }

  .ban-pag-4 .generic-text {
    width: 100%;
    background: rgba(0, 0, 0, 0.493);
    text-align: center;
    padding: 5px 0px;
  }

  .ban-pag-5 .highlight{
    width: 100%;
    text-align: left;
    padding-left: 5px;
    line-height: 35px;
    z-index: 1;
  }

  .ban-pag-5 .generic-text{
    width: 100%;
    background: rgba(0, 0, 0, 0.493);
    text-align: center;
    padding: 5px 0px;
    height: 60px !important;
    line-height: 50px !important;
    font-size: 1.2em !important;
  }

  .ban-pag-3 .highlight{
    width: 100%;
    text-align: left;
    padding-left: 30px;
    line-height: 35px;
    z-index: 1;
  }

  .ban-pag-3 .generic-text{
    width: 100%;
    background: rgba(0, 0, 0, 0.493);
    text-align: center;
    padding: 5px 0px;
    height: 40px !important;
    line-height: 30px !important;
    font-size: 1em !important;
  }

  .carousel-item:nth-child(1){
    background-position-x: 70%;
  }

  .carousel-item:nth-child(2){
    background-position-x: 70%;
  }

  .text-container .body .left{
    padding: 0px;
  }

  .copyright{
    font-size: 0.6em;
  }

  .find-out-more {
    margin: 20px auto;
    width: 100%;
  }
  
  .find-out-more img {
    position: absolute;
    width: 140px;
    right: 30px;
  }
  
  .find-out-more .icon img {
    width: 25px;
  }

  
  .ban-pag-2 picture img{
    width: 75vw !important;
  }

  .ban-pag-4{
    background: rgba(0, 0, 0, 0.301);
  }
}

@media (min-width: 1000px) {

  
.ban-pag-4 picture img{
  width: 80vw !important;
  position: relative;
  bottom: 20vh;
  left: 5vw;
}

  .ban-pag-3,
  .ban-pag-5 {
    padding-top: 150px;
  }
  .ban-pag-3 div:first-child,
  .ban-pag-5 div:first-child {
    position: relative;
    right: 100px;
    line-height: 85px;
  }

  .ban-pag-4 {
    padding-top: 50vh;
    font-family: font-banner !important;
    padding-right: 10vw;
  }

  .ban-pag-4 div:first-child {
    position: relative;
    right: 100px;
    line-height: 85px;
  }

  .ban-pag-4 div:nth-child(2) {
    font-size: 2.2em;
  }

  .find-out-more{
    text-align: center;
    bottom: 15vh;
    right: 20vw;
  }
  
  .find-out-more img{
    position: relative;
    left: 150px;
    width: 15vw;
  }

}
