body{
    /* overflow: hidden; */
}

#main-banner-carousel{
    width: 100%;
}

.carousel-inner{
    height: 100vh;
}

.carousel-inner .carousel-item {
    width: 100%;
    height: inherit;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.section{
    width: 100vw;
    height: 100vh;
}

.section img{
    max-width: inherit;
    height: auto;
}

.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators li.active{
    background: red;
}

/* Banner Style */

.banner-1 h3{
    position: absolute;
    font-size: 7em;
    bottom: 180px;
    left: 100px;
}

.banner-1 > p{
    font-size: 2.5em;
    font-weight: bold;
    position: absolute;
    bottom: 120px;
    left: 100px;
}

.banner-2 h3{
    font-size: 7em;
    position: absolute;
    bottom: 250px;
    left: 200px;
}

.banner-2 > p{
    font-size: 2.5em;
    font-weight: bolder;
    position: absolute;
    bottom: 180px;
    left: 500px;
}

.levels{
    font-size: 3em;
    font-weight: bolder;
}

.levels p{
    position: absolute;
    top: 45vh;
    left: 29vw;
}

.levels p:first-child{
    position: absolute;
    top: 30vh;
    left: 25vw;
}

.levels p:last-child{
    position: absolute;
    top: 60vh;
    left: 43vw;
}

.highlight{
    font-family: font-head;
    font-size: 2em;
}

.levels-2 p:first-child{
    font-size: 3em;
    position: absolute;
    top: 35vh;
    left: 35vw;
}

.levels-2 p:nth-child(2){
    font-size: 2em;
    position: absolute;
    top: 52vh;
    left: 35vw;
    font-weight: bold;
}

.levels-2 p:nth-child(3){
    font-size: 2em;
    position: absolute;
    top: 58vh;
    left: 26.5vw;
    font-weight: bold;
}

.levels-2 p:last-child{
    font-size: 3em;
    position: absolute;
    top: 48vh;
    left: 46vw;
}

/* find out more */
.find-out-more{
    background-color: var(--secondary-color);
    height: fit-content;
    width: fit-content;
    padding: 0px;
    position: absolute;
    top: 70vh;
    left: 60vw;
    padding: 2px 5px;
}
.find-out-more a p{
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    color: white;
}

.banner-1 .find-out-more{
    top: 80vh;
}

@media (max-width: 1000px){
    .banner-1{
        padding: 0px !important;
        justify-content: center;
        align-items: center;
    }

    .banner-1 h3{
        font-size: 3em;
        top: 40vh;
        left: 60px;
    }

    .banner-1 p{
        font-size: 1em;
        top: 50vh;
        padding-right: 10px;
    }

    .banner-2 h3{
        font-size: 2.5em;
        top: 40vh;
        left: 30px;
    }

    .banner-2 p{
        font-size: 1.5em;
        top: 48vh;
        left: 30px;
    }

    .levels{
        font-size: 1em;
    }

    .levels p:first-child{
        top: 40vh;
    }

    .levels p:last-child{
        top: 52vh;
    }

    .levels-2{
        font-size: 0.56em;
    }
    .levels-2 p:first-child{
        left: 25vw;
    }
    .levels-2 p:nth-child(2){
        left: 20vw;
        top: 50vh;
    }
    .levels-2 p:nth-child(3){
        left: 20vw;
        top: 53vh;
    }
    .levels-2 p:last-child{
        top: 43vh;
    }
}